.button2 {
  color: white;
  background-color: black;
  border-radius: 10px;
  font-size: 2em;
  margin-left: 20px;
  z-index: 99999;
}

.pointtavle {
  border: 1px solid #28a745;
  display: block;
  position: relative;
  text-align: center;
  width: 20%;
  /* margin-left: 39%; */
  color: #dddddd;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size:10px;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-weight: 400;
  letter-spacing: 10px;
  background-color: rgba(131, 182, 47, 0.59);

  /* width: 50%; */
}
.pointtavle:hover {
  background-color: #28a745;
  color:#fff;
}

.counter {
  display: inline;
  font-size: 4em;
}

.reset {
  color: #ddd;
  border-radius: 10px;
  font-size: 2em;
  margin-left: 20px;
  z-index: 99999;
  margin-top:5px;
  margin-bottom:5px;
  display: block!important;
  margin-left: auto!important;
  margin-right: auto!important;
  background-color: rgba(131, 182, 47, 0.59);

}

.game {
  border-top: 1px solid rgba(0,0,0,0.1);
  height: 40vh;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15vh;
  /* background-image: url(/content/image/back1.svg);
  background-repeat: no-repeat; */
}
img{
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
}

.Instruktion {
  text-align: center;
}

body, html {
  height: 100%!important;
  margin: 0!important;
  margin-top: -5px!important;
  width: 100%!important;
}

.bg {
  /* The image used */
  background-image:url("../image/biglastBackground.svg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sizeForm1, .sizeForm2{
  margin-top:5px;
  width:25vh!important;
  text-align: center;
  display: block!important;
  margin-left: auto!important;
  margin-right: auto!important;
  color: white;

  /* background-image:url("../image/background1.png")!important; */
}
input {
  border: #000!important;
  padding: 10px!important;
  font-size: 1.2em!important;
  width: 100%!important;
  background-color: #28a745!important;

}
input::placeholder {
  color: #fff!important;

}
.venom{
  bottom:0;
  left: 0;
  margin-top: 7px;
  position: fixed;
  width:20vh!important;
  display: block!important;
  margin-left: left!important;
}
.venom2{
  bottom:0;
  right: 0;
  margin-left: auto;
  margin-top: 7px;
  position: fixed;
  width:20vh!important;
  display: block!important;
}
.cpu1{
  color: #fff;
  display: block!important;
  margin-left: auto!important;
  margin-right: 0!important;
  margin-bottom:0!important;
  margin-top: 15vh;
  background-color: rgba(131, 182, 47, 0.80);
}
.cpu2{
  color: #fff;
  display: block!important;
  margin-left: 0!important;
  margin-right: auto!important;
  margin-top: 15vh;
  background-color: rgba(131, 182, 47, 0.80);
}

.bob1{
  width:200px;
  position:relative;
}
.col{
  margin-top: 3vh;
  border-top: 1px solid rgba(0,0,0,0.1);
  height: 26vh;

}
.indexbody{
  background-color: lightblue;
  display: grid;
}
.text{
  font-family: arial;
  font-weight: 400;
  letter-spacing: 2px;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-column-gap: 20px;
  grid-template-rows: auto;
  border: 1px solid black;
  border-radius: 5%;
  background-color: rgb(131, 182, 47);
  width: 60%;
  margin-left: 20%;
}
.text h1, h2, h3{
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  margin-top:10%;
  margin-bottom: 10%;
}
.styletext{
  margin-left: 2%;
  text-align: center;

}
.stylepicture{
  display: grid;
  margin-top: 30%;
}


/*# sourceMappingURL=main.css.map */
